{% extends 'layout/base.html.twig' %}
{% block content %}
<div class="page-title text-center fw-bold">{{ "app.professional.service.new"|trans }}</div>
    {% form_theme form_service 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form_service) }}
        {{ form_row(form_service.category) }}
        {{ form_row(form_service.languages) }}
        {{ form_row(form_service.specialization) }}
        {{ form_row(form_service.description) }}
        <div id="address-container">
            {{ form_label(form_service.address) }}
            {{ form_widget(form_service.address) }}
        </div>
            {{ form_row(form_service.addressDetails) }}
            {{ form_row(form_service.price) }}
    {{ form_end(form_service) }}
{% endblock %}
