{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1 class="m-5 text-center">Hi {{ beneficiary.username }}!</h1>
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for category in service_categories %}
                <div class="swiper-slide d-flex flex-column align-items-center justify-content-center" id="{{ category.name }}-category" style="background-color: {{ category.color }}">
                    <div class="d-flex h-50 justify-content-center align-items-center">
                        {% if category.icon %}
                            <img src="{{ asset('build/icons/'~ category.icon) }}" alt="{{ category.name }} Category" class="service-category-icon"/>
                        {% endif %}
                    </div>
                    <div class="d-flex h-25 justify-content-center align-items-center fw-bold">
                        {{ category.name }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-arrow"></div>
        <div class="swiper-button-next swiper-arrow"></div>
    </div>


{% endblock %}


{% block js %}
    <script>
        const swiperSlides = document.getElementsByClassName("swiper-slide")
        for (let i = 0; i < swiperSlides.length; i++) {
            let cardId = swiperSlides[i].id
            let card = document.getElementById(cardId);
            let cardUrl = "{{ path('beneficiary_category', {'username':beneficiary.username,'category': "card" }) }}"
            cardUrl=cardUrl.replace("card", cardId)
            console.log(cardUrl)
            card.addEventListener("click", () => {
                window.location = cardUrl;
            })
        }
    </script>
{% endblock %}
